<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- Test Suite -> Test Folder(Module) -> Test Class -> Test Method -->
<suite name="Loan Department">
	<test name="Perssonal Loan">
		<classes>
			<class name="test.Day1" />
			<class name="test.Day2" />
			<class name="test.Day4">
			<methods>
					<include name="loginAPIhomeLoan" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test Folder -->

	<test name="Car Loan">
		<classes>
			<class name="test.Day3">
				<methods>
					<exclude name="API.*" />
				</methods>
			</class>
		</classes>
	</test>
</suite> <!--Suite -->
